<div id="glass-of-water">
	<slot />
</div>

<style lang="stylus">
	#glass-of-water
		:global(h2)
			color gray
			font-size 1.2rem
		:global(h3)
			font-size 1.8rem
			text-align center
		:global(h4)
			color gray
			font-size 1.2rem
		:global(img)
			margin 0 auto
</style>
