<div id="newuser">
	<slot />
</div>

<style lang="stylus">
	#newuser
		:global(h1, h2)
			text-align center
		:global(h2, h3, h4)
			font-weight normal
		:global(h3, h4)
			color grey

		// Red - kitproj (sadsad1337, sadert, and the likeness)
		// Purple - sh0rk/jul/722 - Note: I will back this doc up and refer to it as “COU”.
		// Light Blue - Czech
		// Lighter Blue - 4fr
		// Orange - wafkee
		// White - Carly (except for the title and subtitles)
		// Green - Official B / Recon
		// Dark Red - dewd
		// Dark Cyan - fin
		// Lighter Dark Red - newuser

		:global(kitproj)
			color red
		:global(sh0rk)
			color #90f
		:global(czech)
			color cornflowerblue
		:global(fourfr)
			color lightblue
			@media (prefers-color-scheme: light)
				color darkblue
		:global(wafkee)
			color orange
		:global(carly)
			color white
			// lelel
			text-shadow 0 0 2px #555,
				0 0 2px #555,
				0 0 2px #555,
				0 0 2px #555,
				0 0 2px #555,
				0 0 2px #555,
				0 0 2px #555,
				0 0 2px #555,
				0 0 2px #555e

			@media (prefers-color-scheme: light)
				color black
				// lelel
				text-shadow 0 0 2px #999,
					0 0 2px #999,
					0 0 2px #999,
					0 0 2px #999,
					0 0 2px #999,
					0 0 2px #999,
					0 0 2px #999,
					0 0 2px #999,
					0 0 2px #999

		:global(officialb)
			color green
		:global(dewd)
			color #9b3f30
		:global(fin)
			color darkcyan
		:global(newuser)
			color darkred
		:global(mangloid)
			background grey
			color yellow
		:global(epic52)
			background grey
			color darkred

		
</style>
