<div id="gameguy">
	<slot />
</div>

<style>
	#gameguy {
		& :global(h1),
		& :global(h2),
		& :global(h3) {
			text-align: center;
			color: #f00;
		}
		& :global(h2),
		& :global(h3) {
			font-style: italic;
		}
	}
</style>
