<div id="gameguy">
	<slot />
</div>

<style lang="stylus">
	#gameguy
		:global(h1)
		:global(h2)
		:global(h3)
			text-align center
			color red

		:global(h2)
		:global(h3)
			font-style italic
</style>
