<div id="neek-gameguy-argue">
	<slot />
</div>

<style>
	#neek-gameguy-argue {
		& :global(h1) {
			color: #808080;
		}
		& :global(h1),
		& :global(h2) {
			text-align: center;
			text-decoration: underline;
		}
	}
</style>
