<div id="neek-gameguy-argue">
	<slot />
</div>

<style lang="stylus">
	#neek-gameguy-argue
		:global(h1)
			color grey

		:global(h1)
		:global(h2)
			text-align center
			text-decoration underline
</style>
