<div id="newuser">
	<slot />
</div>

<style>
	#newuser {
		& :global(h2) {
			text-align: center;
		}

		/*
			newuser is coloured blue  
			fin is coloured green  
			Shedletsky is coloured red  
			quantam is coloured yellow  
			yeano is coloured purple  
			TestService is coloured pink  
			qzip is coloured white with black highlight  
			bgr2 is coloured orange  
			Invitat is coloured cyan  
			Carly/608 is coloured dark green 2  
			Snowy is coloured distorted purple  
			nolanwhy is coloured grey cyan
		*/

		& :global(.newuser) {
			color: #6495ed;
		}
		& :global(.fin) {
			color: #0f0;
			@media (prefers-color-scheme: light) {
				color: #008000;
			}
		}
		& :global(.Shedletsky) {
			color: #f00;
		}
		& :global(.quantam) {
			color: #ff0;
			@media (prefers-color-scheme: light) {
				color: #b8860b;
			}
		}
		& :global(.yeano) {
			color: #ee82ee;
		}
		& :global(.TestService) {
			color: #ffc0cb;
			@media (prefers-color-scheme: light) {
				color: #f0f;
			}
		}
		& :global(.qzip) {
			color: #000;
			background-color: #fff;
			@media (prefers-color-scheme: light) {
				color: #fff;
				background-color: #000;
			}
		}
		& :global(.bgr2) {
			color: #ffa500;
		}
		@media (prefers-color-scheme: light) {
			& :global(.bgr2) {
				color: #a52a2a;
			}
		}
		& :global(.Invitat) {
			color: #0ff;
			@media (prefers-color-scheme: light) {
				color: #008b8b;
			}
		}
		& :global(.Carly) {
			color: #00ff7f;
		}
		& :global(.Snowy) {
			color: #9370db;
		}
		& :global(.nolanwhy) {
			color: #45818e;
		}
	}
</style>
