<div id="newuser">
	<slot />
</div>

<style lang="stylus">
	#newuser
		:global(h2)
			text-align center
			
		// newuser is coloured blue  
		// fin is coloured green  
		// Shedletsky is coloured red  
		// quantam is coloured yellow  
		// yeano is coloured purple  
		// TestService is coloured pink  
		// qzip is coloured white with black highlight  
		// bgr2 is coloured orange  
		// Invitat is coloured cyan  
		// Carly/608 is coloured dark green 2  
		// Snowy is coloured distorted purple  
		// nolanwhy is coloured grey cyan

		:global(.newuser)
			color cornflowerblue
		:global(.fin)
			color lime
			@media (prefers-color-scheme: light)
				color green
		:global(.Shedletsky)
			color red
		:global(.quantam)
			color yellow
			@media (prefers-color-scheme: light)
				color darkgoldenrod
		:global(.yeano)
			color violet
		:global(.TestService)
			color pink
			@media (prefers-color-scheme: light)
				color magenta
		:global(.qzip)
			color black
			background-color white
			@media (prefers-color-scheme: light)
				color white
				background-color black
		:global(.bgr2)
			color orange
			@media (prefers-color-scheme: light)
				color brown
		:global(.Invitat)
			color cyan
			@media (prefers-color-scheme: light)
				color darkcyan
		:global(.Carly)
			color springgreen
		:global(.Snowy)
			color mediumpurple
		:global(.nolanwhy)
			color #45818e
</style>
