<div id="the-carly-response">
	<slot />
</div>

<style lang="stylus">
	#the-carly-response
		:global(.purple)
			color #c4f
			@media (prefers-color-scheme: light)
				color #90f
		:global(.bgpurple)
			background #c4f
			@media (prefers-color-scheme: light)
				background #90f
</style>
