---
import { ViewTransitions } from "astro:transitions"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Welcome to the ORC Document Archive. This is a collection of notable archived & re-transcribed documents relating to the Old Roblox Community."
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ORC Document Archive</title>

		<ViewTransitions />
	</head>
	<body>
		<div id="navcontainer" transition:name="nav">
			<span></span>
			<nav>
				<a href="/">Home</a>
				<a href="/changelog">Changelog</a>
				<a
					href="https://github.com/Heliodex/orchives"
					target="_blank"
					rel="noopener noreferrer">
					GitHub
				</a>
			</nav>
		</div>
		<main style="padding:0">
			<h1 transition:name="title" id="maintitle">ORC Document Archive</h1>
			<slot />
		</main>
		<style is:global lang="stylus"> // formatting gon haywire
	@import "./layout.styl"

	#docs
		li
			padding-bottom 0.75rem
		a // make em look like butttons
			box-sizing border-box
			display inline
			padding 0.25rem 0.5rem
			text-decoration underline
			text-underline-offset auto

			transition all 0.25s

			background transparent
			color var(--light)
			border-radius 0.3rem

			&:hover
				background var(--light)
				color var(--dark)
				border-radius 0.6rem
				text-decoration-color var(--light)
</style>
	</body>
</html>
