---
import { ViewTransitions } from "astro:transitions"

const { frontmatter } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ORC Document Archive</title>

		<ViewTransitions />
	</head>
	<body>
		<div id="navcontainer" transition:name="nav">
			<span />
			<nav>
				<a href="/">Home</a>
				<a href="/changelog">Changelog</a>
				<a
					href="https://github.com/Heliodex/orchives"
					target="_blank"
					rel="noopener noreferrer">
					GitHub
				</a>
			</nav>
		</div>
		<main style="padding:0">
			<h1 transition:name="title" id="maintitle">ORC Document Archive</h1>
			<slot />
		</main>
		<style lang="stylus"> // formatting gon haywire
	@import "./layout.styl"
</style>
	</body>
</html>
