---
import { ViewTransitions } from "astro:transitions"

interface Props {
	title?: string
	frontmatter: {
		title?: string
	}
}

const { frontmatter, title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="The ORC Document Archive is a collection of notable archived & re-transcribed documents relating to the Old Roblox Community."
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter?.title ?? title}</title>

		<ViewTransitions />
	</head>
	<body>
		<div id="navcontainer" transition:name="nav">
			<a id="title" href="/" transition:name="title">
				ORC Document Archive
			</a>

			<nav>
				<a href="/">Home</a>
				<a href="/changelog">Changelog</a>
				<a href="/searches">Searches</a>
				<a
					href="https://github.com/Heliodex/orchives"
					target="_blank"
					rel="noopener noreferrer">
					GitHub
				</a>
			</nav>
		</div>
		<main>
			<slot />
		</main>
		<style is:global lang="stylus"> // formatting gon haywire
	@import "./layout.styl"
</style>
	</body>
</html>
